@page "/chargingprocesses"
@using fhj_est_customer_portal.Services
@using System.Security.Claims
@using fhj_est_customer_portal.Entities
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer
@inject ChargingProcessService ChargingProcessService
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]
<h3>Charging Processes</h3>

@if (chargingProcesses == null)
{
    <p><em>Loading...</em></p>
}
else if (chargingProcesses.Count == 0)
{
    <p>No charging processes available.</p>
}
else
{
    <button class="btn btn-primary mr-2"  @onclick="@(() => ApplyFilter(null))">All</button>
    <button class="btn btn-success mr-2" @onclick="@(() => ApplyFilter("Completed"))">Completed</button>
    <button class="btn btn-danger"  @onclick="@(() => ApplyFilter("InProgress"))">In Progress</button>


    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Status</th>
                <th>Meter Total</th>
                <th>Costs</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var chargingProcess in chargingProcesses)
            {
                <tr>
                    <td>@chargingProcess.StartDatetime</td>
                    <td>@chargingProcess.EndDatetime</td>
                    <td>@chargingProcess.Status</td>
                    <td>@chargingProcess.MeterTotal</td>
                    <td>@chargingProcess.Costs €</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private string? UserId;
    private List<ChargingProcess>? chargingProcesses;
    private string? selectedStatus = null; 

    protected override async Task OnInitializedAsync()
    {
        await LoadChargingProcesses();
    }

    private async Task LoadChargingProcesses()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            UserId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;
            if (string.IsNullOrEmpty(selectedStatus))
            {
                chargingProcesses = await ChargingProcessService.GetChargingProcessesByUserId(UserId);
            }
            else
            {
                chargingProcesses = await ChargingProcessService.GetChargingProcessesByUserIdAndStatus(UserId, selectedStatus);
            }
        }
    }

    private async Task ApplyFilter(string? status)
    {
        selectedStatus = status;
        await LoadChargingProcesses();
    }
}
